<div class="show-details">
  <div class="panel panel-success">
    <div class="panel-heading"><%= t "category_rates.name" %></div>
    <div class="panel-body"><%= @category_news.category_name %></div>
  </div>
</div>
