<%= link_to t("news.new"), new_admin_news_path %>
<% @news.each do |news| %>
  <div class="article">
    <div class="article-left">
      <%= image_tag news.image.url if news.image? %>
    </div>
    <div class="article-right">
      <div class="article-title">
        <%= link_to news.title, admin_news_path(news) %>
      </div>
      <div class="article-text">
        <%= raw(news.body).truncate(50) %><br>
      </div>
    </div>
  </div>
<% end %>
