<div class="row">
  <% @rates.each do |rate| %>
    <div class="col-sm-3 col-md-4">
      <%= link_to rate.home_rate, admin_rate_path(rate) %>
      <%= link_to rate.away_rate, admin_rate_path(rate) %>
      <% if current_user.isadmin? %>
        <%= link_to t("rate.delete"), admin_rate_path(rate), method: :delete,
          data: {confirm: t("rate.sure")} %>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate @rate %>
</div>
