<div class="show-details">
  <div class="panel panel-success">
    <div class="panel-heading"><%= t "category_rates.name" %></div>
    <div class="panel-body"><%= @load_category_rates.category_rates %></div>
  </div>
</div>
