<div class="show-details">
  <div class="panel panel-success">
    <div class="panel-heading"><%= t "rate.home_rate" %></div>
    <div class="panel-body"><%= @rate.home_rate %></div>

    <div class="panel-heading"><%= t "rate.away_rate" %></div>
    <div class="panel-body"><%= @rate.away_rate %></div>
  </div>
</div>
